@model MV_Examen.Models.MF_Vasconez

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MF_Vasconez</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salariomf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salariomf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombremf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombremf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activomf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activomf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cumpleañosmf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cumpleañosmf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idv)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
