@model MV_Examen.Models.MF_Vasconez

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MF_Vasconez</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salariomf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salariomf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombremf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombremf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activomf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activomf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cumpleañosmf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cumpleañosmf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
